p {
    color:black;
    font-size: 25px;
}


#cabecera{   
	position: absolute;
    top: 4%;
    left: 2%;
    height: 15%;
    width: 40%;
    color: red;
}
#indice{
	position: absolute;
	top:13%;
	left:2%;
	width: 25%;
	height: 75%
}
#contenido{
	position: absolute;
	top:30%;
	left: 30%;
	width: 65%;
	height:90%;
	background-color: white;

}
#piedepagina{
	position: absolute;
	top:3%;
	left:30%;
	height: 10%;
	width: 65%;
}

.f{
	
	left: 2%;
	width: 80%;
	height: 80%;
	top: 10%;

}

#imagenes{
	top: 40%;
	position: absolute;
	left: 3%;
	
}
